html,body{
    margin: 0px !important;
    padding:0px !important;
    max-width : 100vw;
    min-width:  100vw;
    max-height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
}


#login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background: url("./../images/PAFF_112718_touchmemory-1024x705-transformed.jpeg") no-repeat center/cover;
    background-size: 100% 100%  ;
}

#compoCentral{
    width: 100px;
    height: 220px;
    padding:50px;
    position: relative;
    
    border-radius: 20px;
    
    position: relative;
    margin-bottom: 12.2%;
    margin-left: 3.9%;
    transition: all 2s;
}
#imgSesion{
    
    width:80px;
    height: 80px;
    border-radius: 60px;
    padding: 5px;
    border: 1px dashed rgb(128, 111, 228);
    
}
#imgSesion:hover{
    border: 1px solid white;
    cursor: pointer;
    /* background: filter(rgba(160, 89, 89, 0.801)); */
}

#usuario{
    text-align: center;
    margin-top: 5px;
    text-shadow: 1px 1px 2px white, 1px 1px 1px whitesmoke;
    background-color: rgb(243, 236, 236);
    border-radius: 10px;
    transition: all 2s;
}
#usuario:hover{
    background-color: rgb(49, 48, 48);
    color: white;
    text-shadow: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px white, 2px 2px 2px white;
}

#formulario{
    position: absolute;
    display: none;
    flex: column;
}
#inputPassword{
    position: relative;
    
    width: 90px;
    height: 20px;
    padding-left: 5px;
    font-size: 15px ;
    border-radius: 10px;
    outline: none;
    
}
#inputPassword:focus{
    border: 2px dashed rgb(127, 80, 214);
}

#enviar{
    width: 60px;
    height:30px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius:20px ;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    transition:all 500ms;
}
#enviar:hover{
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    color: white;
}

.show{
    background-color: #3d39af;
    border:1px solid rgba(232, 234, 236, 0.829);
    box-shadow: 2px 2px 2px rgb(54, 13, 119), 2px 2px 2px rgb(20, 6, 83), 2px 2px 2px white;
    
}